{
  "openapi": "3.1.0",
  "info": {
    "title": "Find.ly API",
    "version": "1.0.0",
    "description": "Search leak and OSINT data from your own code with the same modules, quota and limits as the Find.ly dashboard. API access comes with the Professional and Enterprise plans.\n\nFind.ly serves its own modules. Most are powered by our search provider, Intelligence X — `intelligence-search`, `phonebook`, `identity-portal`, `system-id`, `storage-id` and the Stealer Export archive. `breach-search` is ours: it runs on a breach index Find.ly ingests and documents itself, on its own separate daily quota.\n\nEvery search is `POST /api/v1/search/{module}`. Each module has its own reference page below because each takes a different body."
  },
  "servers": [
    {
      "url": "https://findly.icu",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Plan and quota. Free: never billed."
    },
    {
      "name": "Search",
      "description": "One request per served search."
    },
    {
      "name": "Export",
      "description": "Bulk downloads that return a file instead of JSON."
    }
  ],
  "paths": {
    "/api/v1/usage": {
      "get": {
        "operationId": "get_usage",
        "tags": [
          "Account"
        ],
        "summary": "Get usage",
        "description": "Returns the plan, today's quota and the modules open to the account that owns the key. Never billed and never runs a search: use it to check that a key works.",
        "responses": {
          "200": {
            "description": "Plan, quota and modules. `billed` is always `false`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                },
                "examples": {
                  "usage": {
                    "value": {
                      "username": "acme-security",
                      "modules": [
                        "intelligence-search",
                        "phonebook",
                        "identity-portal",
                        "system-id",
                        "storage-id"
                      ],
                      "billed": false,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 13,
                        "remaining": 487,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. `api_key_in_url`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "api_key_in_url": {
                    "value": {
                      "error": {
                        "code": "api_key_in_url",
                        "message": "Send your API key in the Authorization header, never in the URL. If it was logged somewhere, regenerate it from your dashboard."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. `missing_api_key`, `invalid_api_key`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "WWW-Authenticate": {
                "$ref": "#/components/headers/WWWAuthenticate"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missing_api_key": {
                    "value": {
                      "error": {
                        "code": "missing_api_key",
                        "message": "Send your API key in the Authorization header: \"Authorization: Bearer fly_live_…\"."
                      },
                      "billed": false
                    }
                  },
                  "invalid_api_key": {
                    "value": {
                      "error": {
                        "code": "invalid_api_key",
                        "message": "This API key is not valid. Copy it again from the API page of your dashboard."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access refused. `account_suspended`, or `plan_required` (the plan has no API access; carries `usage` and `X-Quota-*`).",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "account_suspended": {
                    "value": {
                      "error": {
                        "code": "account_suspended",
                        "message": "This account is suspended. If you think this is a mistake, contact us."
                      },
                      "billed": false
                    }
                  },
                  "plan_required": {
                    "value": {
                      "error": {
                        "code": "plan_required",
                        "message": "Your Starter plan doesn’t include API access. It comes with the Professional and Enterprise plans.",
                        "plan": "Starter"
                      },
                      "billed": false,
                      "usage": {
                        "plan": "Starter",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 100,
                        "used": 0,
                        "remaining": 100,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many calls from this IP address. `too_many_requests`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "value": {
                      "error": {
                        "code": "too_many_requests",
                        "message": "Too many API calls from this address. Slow down and try again."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. `internal_error`. No request was used.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "value": {
                      "error": {
                        "code": "internal_error",
                        "message": "Something went wrong on our side. No request was used."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/search/intelligence-search": {
      "post": {
        "operationId": "search_intelligence_search",
        "tags": [
          "Search"
        ],
        "summary": "Intelligence Search",
        "description": "Free-text search by email, username, domain or keyword, with optional result count, media type, sort order and date filters. Returns up to 5,000 records in one response.",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Only `json` (the default) is accepted. `txt` returns `400 unsupported_format`.",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntelligenceSearchRequest"
              },
              "examples": {
                "request": {
                  "value": {
                    "query": "example.com",
                    "max_results": 100,
                    "sort_order": "date_desc",
                    "date_from": "2024-01-01",
                    "date_to": "2024-12-31"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search served (billed), including a successful empty result.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordsResponse"
                },
                "examples": {
                  "results": {
                    "value": {
                      "module": "intelligence-search",
                      "query": "example.com",
                      "total": 1,
                      "returned": 1,
                      "truncated": false,
                      "results": [
                        {
                          "name": "combolist_2024_part3.txt",
                          "date": "2024-03-18T09:41:07.000Z",
                          "date_raw": "2024-03-18 09:41:07",
                          "bucket": "leaks.private.general",
                          "size_bytes": 48213,
                          "media_type": "Text file",
                          "system_id": "3f0c6e1a-9b2d-4c7e-8f41-2a6d5b9e0c13",
                          "line": "john.doe@example.com:…",
                          "line_clipped": false
                        }
                      ],
                      "billed": true,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 13,
                        "remaining": 487,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  },
                  "empty": {
                    "value": {
                      "module": "intelligence-search",
                      "query": "example.com",
                      "total": 0,
                      "returned": 0,
                      "truncated": false,
                      "results": [],
                      "billed": true,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 13,
                        "remaining": 487,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. `api_key_in_url`, `unsupported_format`, `invalid_json`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "api_key_in_url": {
                    "value": {
                      "error": {
                        "code": "api_key_in_url",
                        "message": "Send your API key in the Authorization header, never in the URL. If it was logged somewhere, regenerate it from your dashboard."
                      },
                      "billed": false
                    }
                  },
                  "unsupported_format": {
                    "value": {
                      "error": {
                        "code": "unsupported_format",
                        "message": "format must be json for Intelligence Search. No request was used."
                      },
                      "billed": false
                    }
                  },
                  "invalid_json": {
                    "value": {
                      "error": {
                        "code": "invalid_json",
                        "message": "Send a JSON object in the request body, with Content-Type: application/json."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. `missing_api_key`, `invalid_api_key`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "WWW-Authenticate": {
                "$ref": "#/components/headers/WWWAuthenticate"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missing_api_key": {
                    "value": {
                      "error": {
                        "code": "missing_api_key",
                        "message": "Send your API key in the Authorization header: \"Authorization: Bearer fly_live_…\"."
                      },
                      "billed": false
                    }
                  },
                  "invalid_api_key": {
                    "value": {
                      "error": {
                        "code": "invalid_api_key",
                        "message": "This API key is not valid. Copy it again from the API page of your dashboard."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "`account_suspended`, `plan_required`, or `module_locked` (the plan does not include this module; carries `required_plan`). `module_locked` only happens if the plan expires during the call.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "account_suspended": {
                    "value": {
                      "error": {
                        "code": "account_suspended",
                        "message": "This account is suspended. If you think this is a mistake, contact us."
                      },
                      "billed": false
                    }
                  },
                  "plan_required": {
                    "value": {
                      "error": {
                        "code": "plan_required",
                        "message": "Your Starter plan doesn’t include API access. It comes with the Professional and Enterprise plans.",
                        "plan": "Starter"
                      },
                      "billed": false,
                      "usage": {
                        "plan": "Starter",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 100,
                        "used": 0,
                        "remaining": 100,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  },
                  "module_locked": {
                    "value": {
                      "error": {
                        "code": "module_locked",
                        "message": "Intelligence Search requires the Starter plan.",
                        "required_plan": "Starter"
                      },
                      "billed": false,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 13,
                        "remaining": 487,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "Request body over 16 KB. `body_too_large`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "body_too_large": {
                    "value": {
                      "error": {
                        "code": "body_too_large",
                        "message": "The request body must be 16 KB or less."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid input, not billed. `invalid_input` with one message per field in `error.fields`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_input": {
                    "value": {
                      "error": {
                        "code": "invalid_input",
                        "message": "Some fields are invalid. No request was used.",
                        "fields": {
                          "max_results": "Max results must be a whole number between 1 and 1000."
                        }
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "`too_many_requests` (per IP), `quota_exceeded` (daily quota; carries `usage`), `rate_limited` (per account; `reason` is `concurrent` or `per-minute`). Always sends `Retry-After`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "value": {
                      "error": {
                        "code": "too_many_requests",
                        "message": "Too many API calls from this address. Slow down and try again."
                      },
                      "billed": false
                    }
                  },
                  "quota_exceeded": {
                    "value": {
                      "error": {
                        "code": "quota_exceeded",
                        "message": "You’ve used all of today’s requests. Your quota resets at 02:00 Paris time."
                      },
                      "billed": false,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 500,
                        "remaining": 0,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  },
                  "rate_limited_concurrent": {
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Two searches are already running on this account. Try again when one finishes.",
                        "reason": "concurrent"
                      },
                      "billed": false
                    }
                  },
                  "rate_limited_per_minute": {
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many searches in the last minute. Try again shortly.",
                        "reason": "per-minute"
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. `internal_error`. No request was used.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "value": {
                      "error": {
                        "code": "internal_error",
                        "message": "Something went wrong on our side. No request was used."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "The search service failed. `upstream_error`. The request is refunded (`billed: false`).",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "upstream_error": {
                    "value": {
                      "error": {
                        "code": "upstream_error",
                        "message": "Search is unavailable on our side right now. It’s not your plan or your quota.",
                        "upstream_status": null
                      },
                      "billed": false,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 13,
                        "remaining": 487,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/search/phonebook": {
      "post": {
        "operationId": "search_phonebook",
        "tags": [
          "Search"
        ],
        "summary": "Phonebook",
        "description": "Lists every known selector for a domain: email addresses (`type: email`), subdomains (`type: domain`) or URLs (`type: url`). Up to 5,000 selectors per response, or a plain text list with `?format=txt`.",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "`json` (default) or `txt`. Same search, same price, different output.",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "txt"
              ],
              "default": "json"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhonebookRequest"
              },
              "examples": {
                "request": {
                  "value": {
                    "type": "email",
                    "query": "@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search served (billed). JSON by default; with `?format=txt`, a `text/plain` attachment named `phonebook-{type}-{query}.txt`, one selector per line, with `X-Results-Total` and `X-Results-Truncated`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              },
              "Content-Disposition": {
                "$ref": "#/components/headers/ContentDisposition"
              },
              "X-Results-Total": {
                "$ref": "#/components/headers/XResultsTotal"
              },
              "X-Results-Truncated": {
                "$ref": "#/components/headers/XResultsTruncated"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectorsResponse"
                },
                "examples": {
                  "results": {
                    "value": {
                      "module": "phonebook",
                      "query": "@example.com",
                      "type": "email",
                      "total": 2,
                      "returned": 2,
                      "truncated": false,
                      "results": [
                        {
                          "selector": "john.doe@example.com",
                          "date": "2023-11-02T00:00:00.000Z",
                          "date_raw": "2023-11-02"
                        },
                        {
                          "selector": "jane@example.com",
                          "date": null,
                          "date_raw": null
                        }
                      ],
                      "billed": true,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 13,
                        "remaining": 487,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  },
                  "empty": {
                    "value": {
                      "module": "phonebook",
                      "query": "@example.com",
                      "type": "email",
                      "total": 0,
                      "returned": 0,
                      "truncated": false,
                      "results": [],
                      "billed": true,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 13,
                        "remaining": 487,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "text": {
                    "value": "john.doe@example.com\njane@example.com\n"
                  }
                }
              }
            }
          },
          "204": {
            "description": "Only with `?format=txt`: the search succeeded but returned nothing. No body; `X-Request-Billed` says whether it was billed.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              }
            }
          },
          "400": {
            "description": "Bad request. `api_key_in_url`, `unsupported_format`, `invalid_json`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "api_key_in_url": {
                    "value": {
                      "error": {
                        "code": "api_key_in_url",
                        "message": "Send your API key in the Authorization header, never in the URL. If it was logged somewhere, regenerate it from your dashboard."
                      },
                      "billed": false
                    }
                  },
                  "unsupported_format": {
                    "value": {
                      "error": {
                        "code": "unsupported_format",
                        "message": "format must be json or txt for Phonebook. No request was used."
                      },
                      "billed": false
                    }
                  },
                  "invalid_json": {
                    "value": {
                      "error": {
                        "code": "invalid_json",
                        "message": "Send a JSON object in the request body, with Content-Type: application/json."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. `missing_api_key`, `invalid_api_key`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "WWW-Authenticate": {
                "$ref": "#/components/headers/WWWAuthenticate"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missing_api_key": {
                    "value": {
                      "error": {
                        "code": "missing_api_key",
                        "message": "Send your API key in the Authorization header: \"Authorization: Bearer fly_live_…\"."
                      },
                      "billed": false
                    }
                  },
                  "invalid_api_key": {
                    "value": {
                      "error": {
                        "code": "invalid_api_key",
                        "message": "This API key is not valid. Copy it again from the API page of your dashboard."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "`account_suspended`, `plan_required`, or `module_locked` (the plan does not include this module; carries `required_plan`). `module_locked` only happens if the plan expires during the call.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "account_suspended": {
                    "value": {
                      "error": {
                        "code": "account_suspended",
                        "message": "This account is suspended. If you think this is a mistake, contact us."
                      },
                      "billed": false
                    }
                  },
                  "plan_required": {
                    "value": {
                      "error": {
                        "code": "plan_required",
                        "message": "Your Starter plan doesn’t include API access. It comes with the Professional and Enterprise plans.",
                        "plan": "Starter"
                      },
                      "billed": false,
                      "usage": {
                        "plan": "Starter",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 100,
                        "used": 0,
                        "remaining": 100,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  },
                  "module_locked": {
                    "value": {
                      "error": {
                        "code": "module_locked",
                        "message": "Phonebook requires the Professional plan.",
                        "required_plan": "Professional"
                      },
                      "billed": false,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 13,
                        "remaining": 487,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "Request body over 16 KB. `body_too_large`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "body_too_large": {
                    "value": {
                      "error": {
                        "code": "body_too_large",
                        "message": "The request body must be 16 KB or less."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid input, not billed. `invalid_input` with one message per field in `error.fields`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_input": {
                    "value": {
                      "error": {
                        "code": "invalid_input",
                        "message": "Some fields are invalid. No request was used.",
                        "fields": {
                          "query": "For emails, enter a domain starting with @ — for example @openai.com."
                        }
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "`too_many_requests` (per IP), `quota_exceeded` (daily quota; carries `usage`), `rate_limited` (per account; `reason` is `concurrent` or `per-minute`). Always sends `Retry-After`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "value": {
                      "error": {
                        "code": "too_many_requests",
                        "message": "Too many API calls from this address. Slow down and try again."
                      },
                      "billed": false
                    }
                  },
                  "quota_exceeded": {
                    "value": {
                      "error": {
                        "code": "quota_exceeded",
                        "message": "You’ve used all of today’s requests. Your quota resets at 02:00 Paris time."
                      },
                      "billed": false,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 500,
                        "remaining": 0,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  },
                  "rate_limited_concurrent": {
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Two searches are already running on this account. Try again when one finishes.",
                        "reason": "concurrent"
                      },
                      "billed": false
                    }
                  },
                  "rate_limited_per_minute": {
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many searches in the last minute. Try again shortly.",
                        "reason": "per-minute"
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. `internal_error`. No request was used.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "value": {
                      "error": {
                        "code": "internal_error",
                        "message": "Something went wrong on our side. No request was used."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "The search service failed. `upstream_error`. The request is refunded (`billed: false`).",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "upstream_error": {
                    "value": {
                      "error": {
                        "code": "upstream_error",
                        "message": "Search is unavailable on our side right now. It’s not your plan or your quota.",
                        "upstream_status": null
                      },
                      "billed": false,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 13,
                        "remaining": 487,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/search/identity-portal": {
      "post": {
        "operationId": "search_identity_portal",
        "tags": [
          "Search"
        ],
        "summary": "Identity Portal",
        "description": "Looks up an email address, domain or other selector and returns the matching records, in the same shape as Intelligence Search.",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Only `json` (the default) is accepted. `txt` returns `400 unsupported_format`.",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentityPortalRequest"
              },
              "examples": {
                "request": {
                  "value": {
                    "query": "john.doe@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search served (billed), including a successful empty result.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordsResponse"
                },
                "examples": {
                  "results": {
                    "value": {
                      "module": "identity-portal",
                      "query": "john.doe@example.com",
                      "total": 1,
                      "returned": 1,
                      "truncated": false,
                      "results": [
                        {
                          "name": "combolist_2024_part3.txt",
                          "date": "2024-03-18T09:41:07.000Z",
                          "date_raw": "2024-03-18 09:41:07",
                          "bucket": "leaks.private.general",
                          "size_bytes": 48213,
                          "media_type": "Text file",
                          "system_id": "3f0c6e1a-9b2d-4c7e-8f41-2a6d5b9e0c13",
                          "line": "john.doe@example.com:…",
                          "line_clipped": false
                        }
                      ],
                      "billed": true,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 13,
                        "remaining": 487,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  },
                  "empty": {
                    "value": {
                      "module": "identity-portal",
                      "query": "john.doe@example.com",
                      "total": 0,
                      "returned": 0,
                      "truncated": false,
                      "results": [],
                      "billed": true,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 13,
                        "remaining": 487,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. `api_key_in_url`, `unsupported_format`, `invalid_json`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "api_key_in_url": {
                    "value": {
                      "error": {
                        "code": "api_key_in_url",
                        "message": "Send your API key in the Authorization header, never in the URL. If it was logged somewhere, regenerate it from your dashboard."
                      },
                      "billed": false
                    }
                  },
                  "unsupported_format": {
                    "value": {
                      "error": {
                        "code": "unsupported_format",
                        "message": "format must be json for Identity Portal. No request was used."
                      },
                      "billed": false
                    }
                  },
                  "invalid_json": {
                    "value": {
                      "error": {
                        "code": "invalid_json",
                        "message": "Send a JSON object in the request body, with Content-Type: application/json."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. `missing_api_key`, `invalid_api_key`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "WWW-Authenticate": {
                "$ref": "#/components/headers/WWWAuthenticate"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missing_api_key": {
                    "value": {
                      "error": {
                        "code": "missing_api_key",
                        "message": "Send your API key in the Authorization header: \"Authorization: Bearer fly_live_…\"."
                      },
                      "billed": false
                    }
                  },
                  "invalid_api_key": {
                    "value": {
                      "error": {
                        "code": "invalid_api_key",
                        "message": "This API key is not valid. Copy it again from the API page of your dashboard."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "`account_suspended`, `plan_required`, or `module_locked` (the plan does not include this module; carries `required_plan`). `module_locked` only happens if the plan expires during the call.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "account_suspended": {
                    "value": {
                      "error": {
                        "code": "account_suspended",
                        "message": "This account is suspended. If you think this is a mistake, contact us."
                      },
                      "billed": false
                    }
                  },
                  "plan_required": {
                    "value": {
                      "error": {
                        "code": "plan_required",
                        "message": "Your Starter plan doesn’t include API access. It comes with the Professional and Enterprise plans.",
                        "plan": "Starter"
                      },
                      "billed": false,
                      "usage": {
                        "plan": "Starter",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 100,
                        "used": 0,
                        "remaining": 100,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  },
                  "module_locked": {
                    "value": {
                      "error": {
                        "code": "module_locked",
                        "message": "Identity Portal requires the Professional plan.",
                        "required_plan": "Professional"
                      },
                      "billed": false,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 13,
                        "remaining": 487,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "Request body over 16 KB. `body_too_large`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "body_too_large": {
                    "value": {
                      "error": {
                        "code": "body_too_large",
                        "message": "The request body must be 16 KB or less."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid input, not billed. `invalid_input` with one message per field in `error.fields`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_input": {
                    "value": {
                      "error": {
                        "code": "invalid_input",
                        "message": "Some fields are invalid. No request was used.",
                        "fields": {
                          "query": "Enter an email address, domain or other selector."
                        }
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "`too_many_requests` (per IP), `quota_exceeded` (daily quota; carries `usage`), `rate_limited` (per account; `reason` is `concurrent` or `per-minute`). Always sends `Retry-After`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "value": {
                      "error": {
                        "code": "too_many_requests",
                        "message": "Too many API calls from this address. Slow down and try again."
                      },
                      "billed": false
                    }
                  },
                  "quota_exceeded": {
                    "value": {
                      "error": {
                        "code": "quota_exceeded",
                        "message": "You’ve used all of today’s requests. Your quota resets at 02:00 Paris time."
                      },
                      "billed": false,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 500,
                        "remaining": 0,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  },
                  "rate_limited_concurrent": {
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Two searches are already running on this account. Try again when one finishes.",
                        "reason": "concurrent"
                      },
                      "billed": false
                    }
                  },
                  "rate_limited_per_minute": {
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many searches in the last minute. Try again shortly.",
                        "reason": "per-minute"
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. `internal_error`. No request was used.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "value": {
                      "error": {
                        "code": "internal_error",
                        "message": "Something went wrong on our side. No request was used."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "The search service failed. `upstream_error`. The request is refunded (`billed: false`).",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "upstream_error": {
                    "value": {
                      "error": {
                        "code": "upstream_error",
                        "message": "Search is unavailable on our side right now. It’s not your plan or your quota.",
                        "upstream_status": null
                      },
                      "billed": false,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 13,
                        "remaining": 487,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/search/system-id": {
      "post": {
        "operationId": "search_system_id",
        "tags": [
          "Search"
        ],
        "summary": "System ID (raw file)",
        "description": "Downloads the raw file behind a result. Pass the `system_id` of a record from Intelligence Search or Identity Portal. The file text (first 8 MB) comes back in JSON, or as a `text/plain` attachment with `?format=txt`.",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "`json` (default) or `txt`. Same search, same price, different output.",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "txt"
              ],
              "default": "json"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemIdRequest"
              },
              "examples": {
                "request": {
                  "value": {
                    "system_id": "3f0c6e1a-9b2d-4c7e-8f41-2a6d5b9e0c13"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search served (billed). JSON by default; with `?format=txt`, the file itself as a `text/plain` attachment, with `X-File-Truncated` and `X-File-Total-Bytes`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              },
              "Content-Disposition": {
                "$ref": "#/components/headers/ContentDisposition"
              },
              "X-File-Truncated": {
                "$ref": "#/components/headers/XFileTruncated"
              },
              "X-File-Total-Bytes": {
                "$ref": "#/components/headers/XFileTotalBytes"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemIdResponse"
                },
                "examples": {
                  "results": {
                    "value": {
                      "module": "system-id",
                      "system_id": "3f0c6e1a-9b2d-4c7e-8f41-2a6d5b9e0c13",
                      "file": {
                        "name": "uuid-3f0c6e1a-9b2d-4c7e-8f41-2a6d5b9e0c13.txt",
                        "bytes": 54,
                        "lines": 2,
                        "truncated": false,
                        "total_bytes": 54,
                        "text": "john.doe@example.com:hunter2\njane@example.com:letmein\n"
                      },
                      "billed": true,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 13,
                        "remaining": 487,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  },
                  "empty": {
                    "value": {
                      "module": "system-id",
                      "system_id": "3f0c6e1a-9b2d-4c7e-8f41-2a6d5b9e0c13",
                      "file": null,
                      "billed": true,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 13,
                        "remaining": 487,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "text": {
                    "value": "john.doe@example.com:hunter2\njane@example.com:letmein\n"
                  }
                }
              }
            }
          },
          "204": {
            "description": "Only with `?format=txt`: the search succeeded but returned nothing. No body; `X-Request-Billed` says whether it was billed.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              }
            }
          },
          "400": {
            "description": "Bad request. `api_key_in_url`, `unsupported_format`, `invalid_json`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "api_key_in_url": {
                    "value": {
                      "error": {
                        "code": "api_key_in_url",
                        "message": "Send your API key in the Authorization header, never in the URL. If it was logged somewhere, regenerate it from your dashboard."
                      },
                      "billed": false
                    }
                  },
                  "unsupported_format": {
                    "value": {
                      "error": {
                        "code": "unsupported_format",
                        "message": "format must be json or txt for System ID. No request was used."
                      },
                      "billed": false
                    }
                  },
                  "invalid_json": {
                    "value": {
                      "error": {
                        "code": "invalid_json",
                        "message": "Send a JSON object in the request body, with Content-Type: application/json."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. `missing_api_key`, `invalid_api_key`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "WWW-Authenticate": {
                "$ref": "#/components/headers/WWWAuthenticate"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missing_api_key": {
                    "value": {
                      "error": {
                        "code": "missing_api_key",
                        "message": "Send your API key in the Authorization header: \"Authorization: Bearer fly_live_…\"."
                      },
                      "billed": false
                    }
                  },
                  "invalid_api_key": {
                    "value": {
                      "error": {
                        "code": "invalid_api_key",
                        "message": "This API key is not valid. Copy it again from the API page of your dashboard."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "`account_suspended` or `plan_required`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "account_suspended": {
                    "value": {
                      "error": {
                        "code": "account_suspended",
                        "message": "This account is suspended. If you think this is a mistake, contact us."
                      },
                      "billed": false
                    }
                  },
                  "plan_required": {
                    "value": {
                      "error": {
                        "code": "plan_required",
                        "message": "Your Starter plan doesn’t include API access. It comes with the Professional and Enterprise plans.",
                        "plan": "Starter"
                      },
                      "billed": false,
                      "usage": {
                        "plan": "Starter",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 100,
                        "used": 0,
                        "remaining": 100,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "Request body over 16 KB. `body_too_large`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "body_too_large": {
                    "value": {
                      "error": {
                        "code": "body_too_large",
                        "message": "The request body must be 16 KB or less."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid input, not billed. `invalid_input` with one message per field in `error.fields`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_input": {
                    "value": {
                      "error": {
                        "code": "invalid_input",
                        "message": "Some fields are invalid. No request was used.",
                        "fields": {
                          "system_id": "System ID must be a UUID (xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx)."
                        }
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "`too_many_requests` (per IP), `quota_exceeded` (daily quota; carries `usage`), `rate_limited` (per account; `reason` is `concurrent` or `per-minute`). Always sends `Retry-After`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "value": {
                      "error": {
                        "code": "too_many_requests",
                        "message": "Too many API calls from this address. Slow down and try again."
                      },
                      "billed": false
                    }
                  },
                  "quota_exceeded": {
                    "value": {
                      "error": {
                        "code": "quota_exceeded",
                        "message": "You’ve used all of today’s requests. Your quota resets at 02:00 Paris time."
                      },
                      "billed": false,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 500,
                        "remaining": 0,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  },
                  "rate_limited_concurrent": {
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Two searches are already running on this account. Try again when one finishes.",
                        "reason": "concurrent"
                      },
                      "billed": false
                    }
                  },
                  "rate_limited_per_minute": {
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many searches in the last minute. Try again shortly.",
                        "reason": "per-minute"
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. `internal_error`. No request was used.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "value": {
                      "error": {
                        "code": "internal_error",
                        "message": "Something went wrong on our side. No request was used."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "The search service failed. `upstream_error`. The request is refunded (`billed: false`).",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "upstream_error": {
                    "value": {
                      "error": {
                        "code": "upstream_error",
                        "message": "Search is unavailable on our side right now. It’s not your plan or your quota.",
                        "upstream_status": null
                      },
                      "billed": false,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 13,
                        "remaining": 487,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/search/storage-id": {
      "post": {
        "operationId": "search_storage_id",
        "tags": [
          "Search"
        ],
        "summary": "Storage ID (raw file)",
        "description": "Downloads a raw file by its storage ID and bucket. The file text (first 8 MB) comes back in JSON, or as a `text/plain` attachment with `?format=txt`.",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "`json` (default) or `txt`. Same search, same price, different output.",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "txt"
              ],
              "default": "json"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageIdRequest"
              },
              "examples": {
                "request": {
                  "value": {
                    "storage_id": "a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1",
                    "bucket": "leaks.private.general"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search served (billed). JSON by default; with `?format=txt`, the file itself as a `text/plain` attachment, with `X-File-Truncated` and `X-File-Total-Bytes`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              },
              "Content-Disposition": {
                "$ref": "#/components/headers/ContentDisposition"
              },
              "X-File-Truncated": {
                "$ref": "#/components/headers/XFileTruncated"
              },
              "X-File-Total-Bytes": {
                "$ref": "#/components/headers/XFileTotalBytes"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageIdResponse"
                },
                "examples": {
                  "results": {
                    "value": {
                      "module": "storage-id",
                      "storage_id": "a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1",
                      "bucket": "leaks.private.general",
                      "file": {
                        "name": "storage-a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1.txt",
                        "bytes": 54,
                        "lines": 2,
                        "truncated": false,
                        "total_bytes": 54,
                        "text": "john.doe@example.com:hunter2\njane@example.com:letmein\n"
                      },
                      "billed": true,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 13,
                        "remaining": 487,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  },
                  "empty": {
                    "value": {
                      "module": "storage-id",
                      "storage_id": "a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1a3f1",
                      "bucket": "leaks.private.general",
                      "file": null,
                      "billed": true,
                      "usage": {
                        "plan": "Professional",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 500,
                        "used": 13,
                        "remaining": 487,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "text": {
                    "value": "john.doe@example.com:hunter2\njane@example.com:letmein\n"
                  }
                }
              }
            }
          },
          "204": {
            "description": "Only with `?format=txt`: the search succeeded but returned nothing. No body; `X-Request-Billed` says whether it was billed.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              }
            }
          },
          "400": {
            "description": "Bad request. `api_key_in_url`, `unsupported_format`, `invalid_json`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "api_key_in_url": {
                    "value": {
                      "error": {
                        "code": "api_key_in_url",
                        "message": "Send your API key in the Authorization header, never in the URL. If it was logged somewhere, regenerate it from your dashboard."
                      },
                      "billed": false
                    }
                  },
                  "unsupported_format": {
                    "value": {
                      "error": {
                        "code": "unsupported_format",
                        "message": "format must be json or txt for Storage ID. No request was used."
                      },
                      "billed": false
                    }
                  },
                  "invalid_json": {
                    "value": {
                      "error": {
                        "code": "invalid_json",
                        "message": "Send a JSON object in the request body, with Content-Type: application/json."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. `missing_api_key`, `invalid_api_key`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "WWW-Authenticate": {
                "$ref": "#/components/headers/WWWAuthenticate"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missing_api_key": {
                    "value": {
                      "error": {
                        "code": "missing_api_key",
                        "message": "Send your API key in the Authorization header: \"Authorization: Bearer fly_live_…\"."
                      },
                      "billed": false
                    }
                  },
                  "invalid_api_key": {
                    "value": {
                      "error": {
                        "code": "invalid_api_key",
                        "message": "This API key is not valid. Copy it again from the API page of your dashboard."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "`account_suspended` or `plan_required`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/XQuotaLimit"
              },
              "X-Quota-Remaining": {
                "$ref": "#/components/headers/XQuotaRemaining"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/XQuotaReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "account_suspended": {
                    "value": {
                      "error": {
                        "code": "account_suspended",
                        "message": "This account is suspended. If you think this is a mistake, contact us."
                      },
                      "billed": false
                    }
                  },
                  "plan_required": {
                    "value": {
                      "error": {
                        "code": "plan_required",
                        "message": "Your Starter plan doesn’t include API access. It comes with the Professional and Enterprise plans.",
                        "plan": "Starter"
                      },
                      "billed": false,
                      "usage": {
                        "plan": "Starter",
                        "plan_expires_at": "2026-10-16T12:00:00.000Z",
                        "daily_quota": 100,
                        "used": 0,
                        "remaining": 100,
                        "resets_at": "2026-09-17T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "Request body over 16 KB. `body_too_large`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "body_too_large": {
                    "value": {
                      "error": {
                        "code": "body_too_large",
                        "message": "The request body must be 16 KB or less."
                      },
                      "billed": false
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid input, not billed. `invalid_input` with one message per field in `error.fields`.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "X-Request-Billed": {
                "$ref": "#/components/headers/XRequestBilled"
              }
            },
            "content": {
              "application/json": {
[...]
